*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

aside{
    width: 10%;
    height: 100%;
    float: left;
    background-color: rgb(253, 62, 62);
}

aside .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 60px;
}

aside .block-1,.block-2,.block-3,.block-4{
    width: 75px;
    height: 75px;
    background-color: brown;
    background-size: cover;
    background-position: center;
    border-radius: 125px;
}

aside .block-1:hover,.block-2:hover,.block-3:hover,.block-4:hover{
    cursor: pointer;
}

.block-1{
    background-image: url('../../Assets/Icons/universidade.png');
}

.block-2{
    background-image: url('../../Assets/Icons/professor.png');
}

.block-3{
    background-image: url('../../Assets/Icons/nota.png');
    background-size: 60px;
    background-repeat: no-repeat;
}

.block-4{
    background-image: url('');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    float: right;
    background-color: rgb(248, 194, 93);
}

.header-alunos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    background-color: red;
    border-radius: 15px 15px 0 0 ;
    font-size: 25px;
    font-weight: 500;
}

.container{
    background-color: rgb(112, 112, 255);
    width: 70%;
    height: 50%;
    border-radius: 0 0 15px 15px;
    padding: 0 50px;
}




.clear{
    clear: both;
}